* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
/* Container */
.container {
  width: 500px;
  height: 405px;
  margin: 0 auto;
  border: 1px solid #faf7f7;
  box-shadow: 0px 0px 14px 5px #bfbcbc;
}

/* Main Form */
.main {
  width: 250px;
  height: 399px;
}

/* Main-Title */
.main-title {
  text-align: center;
  margin-top: 18px;
  font-size: 36px;
  font-weight: 700;
  width: 500px;
  color: #222;
  padding: 10px 0px;
}

/*Choosing Plan  */
.plan-choose {
  position: absolute;
  top: 83px;
  width: 235px;
  text-align: center;
  background-color: #cbe6cb;
  border-radius: 5px;
  font-size: 14px;
  height: 55px;
  right: 396px;
  /* box-shadow: 0px 0px 14px 5px #dbd8d8; */
}

.plan-title {
  font-size: 20px;
  font-weight: bold;
}

/* Check plan (1)*/
.check-one {
  position: absolute;
  left: 3px;
  bottom: 2px;
}
.check-one:hover {
  color: teal;
}

/* Choosing Free plan */
.free-plan {
  display: none;
}
#free:checked ~ .free-plan {
  position: absolute;
  width: 224px;
  border: 2px solid teal;
  display: block;
  top: 21px;
  border-radius: 10px;
  overflow: hidden;
}

.heading {
  text-align: center;
  font-size: 25px;
  padding: 10px;
}
.h1 {
  background-color: teal;
  color: white;
}

ul li {
  text-align: center;
  color: #3f3d3d;
  padding: 15px 10px;
  border: 1px solid #f2f2f2;
  list-style: none;
}

.footer {
  text-align: center;
  width: 95px;
  margin: 14px auto;
  padding: 8px 0;
  border-radius: 7px;
}
.f1 {
  background-color: teal;
  color: white;
}

/* Check plan (2) */
.check-two {
  position: absolute;
  left: 92px;
  bottom: 2px;
}

.check-two:hover {
  color: gold;
}

/* Choosing Gold plan */
.gold-plan {
  display: none;
}

#gold:checked ~ .gold-plan {
  position: absolute;
  width: 224px;
  border: 2px solid #f5a623;
  display: block;
  top: 21px;
  border-radius: 10px;
  overflow: hidden;
  right: -91px;
}

.h2 {
  background-color: #f5a623;
  color: white;
}

.f2 {
  background-color: #f5a623;
  color: white;
}

/* Check plan (3) */
.check-three {
  position: absolute;
  left: 160px;
  bottom: 2px;
}

.check-three:hover {
  color: whitesmoke;
}

/* Choosing Diamond Plan */
.diamond-plan {
  display: none;
}

#diamond:checked ~ .diamond-plan {
  position: absolute;
  width: 224px;
  border: 2px solid #70d1f4;
  display: block;
  top: 21px;
  border-radius: 10px;
  overflow: hidden;
  right: 2px;
}

.h3 {
  background-color: #70d1f4;
  color: white;
}

.footer.f3 {
  background-color: #70d1f4;
  color: white;
}

/* Input Section */
/* Input Name */
.input-name {
  border-bottom: 1px solid #999;
  margin-top: 30px;
  margin-bottom: 35px;
}

.name {
  border: none;
  background: none;
  outline: none;
  padding: 6px 30px;
}

.fa-id-badge {
  position: absolute;
  left: 400px;
  top: 118px;
  font-size: 17px;
}

/* Input Password */
.input-password {
  border-bottom: 1px solid #999;
  margin-top: 10px;
}

.password {
  border: none;
  background: none;
  outline: none;
  padding: 6px 30px;
}

.fa-lock {
  position: absolute;
  left: 400px;
  top: 178px;
  font-size: 17px;
}

/* Password Warning */
.warning {
  display: none;
}

.password:focus ~ .warning {
  width: 230px;
  text-align: center;
  background-color: #f7ecec;
  color: #cc282a;
  font-size: 10px;
  text-indent: 1px;
  text-indent: 27px;
  position: absolute;
  bottom: 337px;
  left: 396px;
  font-weight: bold;
  line-height: 16px;
  display: block;
}

.name,
.password:placeholder-shown {
  text-align: center;
}

/* Register */
.btn1 {
  width: 200px;
  height: 34px;
  padding: 6px 30px;
  font-size: 13px;
  border-radius: 10px;
  background-color: #5370fd;
  border: 1px solid #5370fd;
  color: white;
  transition: 1s;
  margin-top: 50px;
  margin-left: 17px;
}

.btn1:hover {
  border: 1px solid #5370fd;
  color: #5370fd;
  background-color: white;
  border-radius: 10px;
  font-weight: bold;
}

.btn2 {
  width: 100px;
  height: 30px;
  padding: 6px 29px;
  font-size: 13px;
  border-radius: 10px;
  border: 1px solid #5370fd;
  color: #5370fd;
  background-color: white;
  border-radius: 10px;
  font-weight: bold;
  margin-top: 35px;
  margin-left: 65px;
  transition: 1s;
}

.btn2:hover {
  background-color: #5370fd;
  border: 1px solid #5370fd;
  color: white;
}
